.not-found {
  display: grid;
  place-content: center;
  background-color: var(--main-color);
  color: var(--text-color);
  min-height: 100vh;
}
.not-found .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.not-found nav {
  text-transform: uppercase;
  color: var(--btn-text);
}
.not-found nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 767px) {
  .not-found nav ul li {
    width: 100%;
  }
}
.not-found nav ul li a {
  display: block;
  padding: 8px 16px;
  background-color: var(--dark-blue);
  transition: .3s;
}
.not-found nav ul li a:hover,
.not-found nav .homepage a:hover {
  background-color: var(--blue-color);
}
.not-found nav .homepage a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px;
  margin-top: 40px;
  background-color: var(--dark-blue);
  transition: .3s;
}